---
layout: landing
title: Ventures
background: grey
permalink: /ventures
---
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
   <h2 class="section-heading text-uppercase text-center" style="padding-top: 35px">Venture Studio</h2>
   <h3 class="section-subheading text-muted text-center">Other Ways to Innovate</h3>
    <div class="row">
        <div class="col-md-6">
          <h4 style="padding-top: 10px;">Design Studio + Innovation Lab</h4>
          <p style="padding-bottom: 35px;" class="text-muted">At Pastel, we partner with diverse founding teams that are designing and developing a more equitable and sustainable future. Together, we actively pioneer marketplace and internet infrastructure solutions for the most marginalized communities.</p>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/#overview" style="padding-bottom: 20px;">Overview</a>  
        </div>
        <div class="col-md-6">
          <img class="img-fluid rounded" src="assets/img/takeoff.png" alt="" width="" style="padding: 20px;">
          </div>
      </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase"style="padding-top:50px">Portfolio</h2>
        <h3 class="section-subheading text-muted">Strategy at a Glance</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.portfolio %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link rounded" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid rounded" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption rounded">
          <h4><a href="{{ project.site }}" target="_blank" rel="noopener noreferrer">{{ project.caption.title }}</a></h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.portfolio.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for project in site.portfolio %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted">{{ project.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
  </section>
{% endif %}
{% include modals.html %}
