<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.hubspot.com" target="_blank" rel="noopener noreferrer">
                        <img src="img/logos/Hub.png" class="img-responsive img-centered" alt="" width="200px">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://github.com" target="_blank" rel="noopener noreferrer">
                        <img src="img/logos/Git.png" class="img-responsive img-centered" alt="" width="200px">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://stripe.com" target="_blank" rel="noopener noreferrer">
                        <img src="img/logos/Strip.png" class="img-responsive img-centered" alt="" width="200px">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://dribbble.com" target="_blank" rel="noopener noreferrer">
                        <img src="img/logos/Drib.png" class="img-responsive img-centered" alt="" width="200px">
                    </a>
                </div>
            </div>
        </div>
    </aside>