<!-- Portfolio Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio.section | default: "portfolio" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].portfolio.title | markdownify | default: "Portfolio" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].portfolio.text | markdownify }}</h3>
      </div>
    </div>
   <!-- Carousel -->
<div id="fawesome-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#fawesome-carousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#fawesome-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#fawesome-carousel" data-bs-slide-to="2"></li>
    <li data-bs-target="#fawesome-carousel" data-bs-slide-to="3"></li>
    <li data-bs-target="#fawesome-carousel" data-bs-slide-to="4"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="border-radius: 5%;">
      <a href="http://afriexapp.com" target="_blank" rel="noopener noreferrer">
        <img class="d-block w-100" style="border-radius: 5%;" src="/assets/img/portfolio/Afx-logo.png" alt="" onContextMenu="return false;"></a>
          <div class="carousel-caption d-md-block">
            <h5 style="color: rgb(75, 75, 75);">Afriex</h5>
              <p style="color: grey;">Crossborder Payments</p>
          </div>
        </div>
    <div class="carousel-item" style="border-radius: 5%;">
      <a href="http://audiocardio.com" target="_blank" rel="noopener noreferrer">
        <img class="d-block w-100" style="border-radius: 5%;" src="/assets/img/portfolio/AC-logo.png" alt="" onContextMenu="return false;"></a>
          <div class="carousel-caption d-md-block">
            <h5 style="color: rgb(75, 75, 75);">AudioCardio</h5>
              <p style="color: grey;">Sound Therapy</p>
          </div>
        </div>
    <div class="carousel-item" style="border-radius: 5%;">
      <a href="http://audios.com" target="_blank" rel="noopener noreferrer">
        <img class="d-block w-100" style="border-radius: 5%;" src="/assets/img/portfolio/Audio-logo.png" alt="" onContextMenu="return false;"></a>
          <div class="carousel-caption d-md-block">
            <h5 style="color: rgb(75, 75, 75);">Audios</h5>
              <p style="color: grey;">Wireless Speakers</p>
          </div>
        </div>
    <div class="carousel-item" style="border-radius: 5%;">
      <a href="http://coienergy.com" target="_blank" rel="noopener noreferrer">
        <img class="d-block w-100" style="border-radius: 5%;" src="/assets/img/portfolio/COI-logo.png" alt="" onContextMenu="return false;"></a>
          <div class="carousel-caption d-md-block">
            <h5 style="color: rgb(75, 75, 75);">COI Energy</h5>
              <p style="color: grey;">Energy Management</p>
          </div>
        </div>
    <div class="carousel-item" style="border-radius: 5%;">
      <a href="http://payhippo.ng" target="_blank" rel="noopener noreferrer">
        <img class="d-block w-100" style="border-radius: 5%;" src="/assets/img/portfolio/pay-logo.png" alt="" onContextMenu="return false;"></a>
          <div class="carousel-caption d-md-block">
            <h5 style="color: rgb(75, 75, 75);">Payhippo</h5>
              <p style="color: grey;">SME Lending</p>
          </div>
        </div>
  </div>
    <a class="left slide-control" href="#fawesome-carousel" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right slide-control" href="#fawesome-carousel" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
  </div>
  <style type="text/css">
    .slide-control{color:#4d4d4d8d;font-size:80px;left:30px;margin-top:-70px;position:absolute;top:50%;}
    .slide-control.right{left:auto;right:30px;}
  </style>
</section>
{% endif %}
{% include modals.html %}