<section class="bg-light page-section">
    <div class="card-flex">
        <div class="card" style="width: 350px; height: 400px;">
            <img src="/assets/img/blog/science sounds.png" class="d-block w-100 rounded" alt="" style="box-shadow: 2px 4px 6px 0 rgba(70, 70, 70, 0.5); height: 200px;" onContextMenu="return false;">
                <div class="card-body">
                    <h5 class="card-title">The Science of Sounds</h5>
                    <p class="card-text">~2 min read</p>
                    <a class="btn btn-primary" href="https://medium.com/dot-xyz/the-science-of-sounds-f8cdaf3d5ff2" target="_blank" rel="noopener noreferrer">Read More</a>
                </div>
            </div>
            <br>
        <div class="card" style="width: 350px; height: 400px;">
            <img src="/assets/img/blog/moments.png" class="d-block w-100 rounded" alt="" style="box-shadow: 2px 4px 6px 0 rgba(70, 70, 70, 0.5); height: 200px;" onContextMenu="return false;">
                <div class="card-body">
                    <h5 class="card-title">Making Mindful Moments</h5>
                    <p class="card-text">~3 min read</p>
                    <a class="btn btn-primary" href="https://medium.com/dot-xyz/making-mindful-moments-f4a6e9871b98" target="_blank" rel="noopener noreferrer">Read More</a>
                </div>
            </div>
            <br>
        <div class="card" style="width: 350px; height: 400px;">
            <img src="/assets/img/blog/green transition.jpg" class="d-block w-100 rounded" alt="" style="box-shadow: 2px 4px 6px 0 rgba(70, 70, 70, 0.5); height: 200px;" onContextMenu="return false;">
                <div class="card-body" style="border-color: transparent;">
                    <h5 class="card-title">Green Transition: Sustainable Revolution...</h5>
                    <p class="card-text">~5 min read</p>
                    <a class="btn btn-primary" href="https://medium.com/dot-xyz/green-transition-sustainable-revolution-through-localized-grids-440f4ca66962" target="_blank" rel="noopener noreferrer">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>