<!-- Overview Section -->
    <section id="overview">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Overview</h2>
                    <h3 class="section-subheading text-muted">A Differentiated Approach</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Partnerships</h4>
                    <p class="text-muted">Building longstanding relationships with exceptional founders at the earliest stages of their entrepreneurial journey.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Industries of Interest</h4>
                    <p class="text-muted">Backing D2C and Enterprise solutions within the eCommerce, FinTech, and CPG business segments. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Capital Considerations</h4>
                    <p class="text-muted">Utilizing capital as a force for progress through responsible and conscious deployment.</p>
                </div>
            </div>
        </div>
    </section>