// Styling for the navbar
#mainNav {
  margin: 0px;
  background-color: rgba(15, 15, 15, 0.7);
  backdrop-filter: blur(2px);
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .navbar-brand {
    color: $primary;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    text-align: center;
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 1.25em 0;
        letter-spacing: 1px;
        color: white;
        text-align: center;
        @include heading-font;
        &.active,
        &:hover {
          color: $primary;
        }
      }
    }
  }
  // Right-align collapsed menu content
  .navbar-collapse {
    text-align: center;
    .navbar-nav {
      text-align: center;
      .nav-item {
        text-align: center;
        .nav-link {
          text-align: center;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    // Remove backdrop-filter when background is transparent
    backdrop-filter: none;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: rgba(15, 15, 15, 0.7);
      // Restore backdrop-filter when background is not transparent
      backdrop-filter: blur(2px);
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
    }
  }
}
