---
layout: default
---
{% include nav.html %}

{% if page.background == "grey" or page.background == "gray" %}
<script>
document.getElementById("page-top").className="bg-light";
</script>
{% endif %} 

<head>
    <header class="mast">
        <video autoplay muted loop>  <source src="/assets/vid/block.mp4" type="video/mp4">
          <source src="/assets/vid/block.mp4" type="video/webm">  Your browser does not support the video tag.</video>
        <div class="container">
          <div class="intro-text">
              <div class="intro-lead-in" style="animation: fadeIn 2s ease-in-out;">Pastel Venture Studio</div>
              <div class="intro-head text-uppercase" style="animation: fadeIn 4s ease-in-out;">Other Ways <br> to Innovate</div>
              <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Learn More</a> -->
          </div>
        </div>
      </header>
</head>   

<div class="container" id="pagecontainer">
{{ content }}
</div>
