{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}

.navbar ul {
    height: 40px !important;
}

.navbar li {
    display: inline-block;
}

@media screen and (max-width: 400px) {
    .navbar {
      display: none;
    }
    .navbar-submenu-wrapper {
        display: none
    }
  }  
