// Styling for the masthead
header.mast {
  text-align: center;
  color: white;
  position: relative; /* Needed for absolute positioning of video */
  overflow: hidden; /* Hide video overflow */
  height: 100vh; /* Define your desired height */; /* e.g., 500px or 100vh */
}

header.mast video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire header */
  z-index: -1; /* Place video behind content */
}

header.mast .intro-text {
  position: relative; /* Bring text in front of video */
  z-index: 1; /* Ensure text is above video */
  margin-top: 25px;
  /* Add a semi-transparent background to improve text readability if needed */
  // background-color: rgba(0, 0, 0, 0.3); /* Adjust opacity as desired */
  padding: 20px; /* Add some padding around the text */
}
    
header.mast .intro-lead-in {
  font-size: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  @include serif-font;
}

header.mast .intro-head {
  white-space: normal;
  display: flex;
  padding-top: 55px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 50px;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 15px;
  line-height: 1.5;
  @include heading-font;
}

@keyframes fadeIn {  
  from {  
      opacity: 0.05;  
  }  
  to {  
      opacity: 1;  
  }  
}  

@media (max-width: 575px) {
  header.mast .intro-head {
    font-size: 30px;
    padding-top: 105px;
  }
}

.mast {
  position: relative; /* Needed for absolute positioning of the container */
  overflow: hidden; /* Hide video overflow */
  height: 100vh; /* Or your desired height */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.mast .container {
  text-align: center; /* Center text within the container */
  /* Add any other container styles you need */
  position: relative; /* So that z-index works */
  z-index: 1; /* Bring container forward */
}

header.masthead {
  text-align: center;
  color: white;
  // background-image: url("#{$header-image}");
  // background-repeat: no-repeat;
  // background-attachment: scroll;
  // background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

   header.masthead .intro-text {
      padding-top: 125px;
      padding-bottom: 75px;
   }
    
   header.masthead .intro-lead-in {
      font-size: 22px;
      margin-bottom: 25px;
      padding-bottom: 25px;
      @include serif-font;
    }

    header.masthead .intro-heading {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 15px;
      letter-spacing: 5px;
      line-height: 0px;
      @include heading-font;
    }

@media (min-width: 768px) {
  header.masthead .intro-text {
      padding-top: 150px;
      padding-bottom: 125px;
  }
    header.masthead .intro-lead-in {
        font-size: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }

      header.masthead .intro-heading {
        font-size: 75px;
        font-weight: 500;
        margin-bottom: 50px;
        letter-spacing: 10px;
        line-height: 0px;
        @include heading-font;
      }
    }

header.top-header { 
  background-image: url(/assets/img/banner/smear.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 375px;
  // border-bottom-left-radius: 5% 15%;
  // border-bottom-right-radius: 5% 15%;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
} 

@media only screen and (max-width: 768px) {
  .header.top-header {
    background-attachment: scroll;
  }
}
  
header.top-header > h2 {
  text-align: center;
  padding-top: 5em;
  color: rgba(255, 255, 255, 0.205);
  font-size: 35px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  header.top-header > h2 {
    font-size: 40px;
    padding-top: 5em;
  }}

  header.top-header-alt { 
    background-image: url(/assets/img/banner/grey.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 315px;
    // border-bottom-left-radius: 5% 15%;
    // border-bottom-right-radius: 5% 15%;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  } 
  
  @media (min-width: 768px) {
    .header.top-header-alt {
      background-attachment: scroll;
    }
  }
    
  header.top-header-alt > h2 {
    text-align: center;
    padding-top: 5em;
    color: rgba(255, 255, 255, 0.175);
    font-size: 40x;
    text-transform: uppercase;
  }
  
  @media (min-width: 768px) {
    header.top-header-alt > h2 {
      font-size: 40px;
      padding-top: 5em
    }}
  
