// Styling for the masthead
header.mast {
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

header.mast video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  // -webkit-mask-image: linear-gradient(to bottom,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(0, 0, 0, 1) 5%, 
  //   rgba(0, 0, 0, 1) 90%,
  //   rgba(0, 0, 0, 0) 100%
  // );
  // mask-image: linear-gradient(to bottom,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(0, 0, 0, 1) 5%,
  //   rgba(0, 0, 0, 1) 90%,
  //   rgba(0, 0, 0, 0) 100%
  // );
}

header.mast .intro-text {
  position: relative;
  z-index: 1;
  margin-top: 25px;
  padding: 20px;
}
    
header.mast .intro-lead-in {
  font-size: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  @include serif-font;
}

header.mast .intro-head {
  white-space: normal;
  display: flex;
  padding-top: 55px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 50px;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 15px;
  line-height: 1.5;
  @include heading-font;
}

@keyframes fadeIn {  
  from {  
      opacity: 0.05;  
  }  
  to {  
      opacity: 1;  
  }  
}  

@media (max-width: 575px) {
  header.mast .intro-head {
    font-size: 30px;
    padding-top: 105px;
    padding-left: 0px;
    padding-right: 0px;
    letter-spacing: 10px;
  }

  header.mast .intro-lead-in {
    padding-top: 35px;
  }
}

.mast {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mast .container {
  text-align: center;
  position: relative;
  z-index: 1;
}

header.masthead {
  text-align: center;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

   header.masthead .intro-text {
      padding-top: 125px;
      padding-bottom: 75px;
   }
    
   header.masthead .intro-lead-in {
      font-size: 22px;
      margin-bottom: 25px;
      padding-bottom: 25px;
      @include serif-font;
    }

    header.masthead .intro-heading {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 15px;
      letter-spacing: 5px;
      line-height: 0px;
      @include heading-font;
    }

@media (min-width: 768px) {
  header.masthead .intro-text {
      padding-top: 150px;
      padding-bottom: 125px;
  }
    header.masthead .intro-lead-in {
        font-size: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }

      header.masthead .intro-heading {
        font-size: 75px;
        font-weight: 500;
        margin-bottom: 50px;
        letter-spacing: 10px;
        line-height: 0px;
        @include heading-font;
      }
    }

header.top-header { 
  background-image: url(/assets/img/banner/smear.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 375px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
} 

@media only screen and (max-width: 768px) {
  .header.top-header {
    background-attachment: scroll;
  }
}
  
header.top-header > h2 {
  text-align: center;
  padding-top: 5em;
  color: rgba(255, 255, 255, 0.205);
  font-size: 35px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  header.top-header > h2 {
    font-size: 40px;
    padding-top: 5em;
  }}

  header.top-header-alt { 
    background-image: url(/assets/img/banner/peak.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 500px;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
  } 
  
  @media (min-width: 768px) {
    .header.top-header-alt {
      background-attachment: scroll;
    }
  }
    
  header.top-header-alt > h2 {
    text-align: center;
    padding-top: 5em;
    color: rgba(255, 255, 255, 0.175);
    font-size: 40x;
    text-transform: uppercase;
  }
  
  @media (min-width: 768px) {
    header.top-header-alt > h2 {
      font-size: 40px;
      padding-top: 5em
    }}
  
