// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
  
   header.masthead .intro-text {
      padding-top: 125px;
      padding-bottom: 75px;
   }
    
   header.masthead .intro-lead-in {
      font-size: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }

    header.masthead .intro-heading {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 15px;
      letter-spacing: 5px;
      line-height: 0px;
      @include heading-font;
    }

@media (min-width: 768px) {
  header.masthead .intro-text {
      padding-top: 150px;
      padding-bottom: 125px;
  }
    header.masthead .intro-lead-in {
        font-size: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }

      header.masthead .intro-heading {
        font-size: 75px;
        font-weight: 500;
        margin-bottom: 50px;
        letter-spacing: 15px;
        line-height: 0px;
        @include heading-font;
      }
    }

header.top-header { 
  background-image: url(/assets/img/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 325px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius: 5% 15%;
  border-bottom-right-radius: 5% 15%;
} 

@media only screen and (max-width: 768px) {
  .header.top-header {
    background-attachment: scroll;
  }
}
  
header.top-header > h2 {
  text-align: center;
  padding-top: 5em;
  color: rgba(255, 255, 255, 0.553);
  font-size: 35px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  header.top-header > h2 {
    font-size: 40px;
    padding-top: 6em;
  }}

  header.top-header-alt { 
    background-image: url(/assets/img/banner2.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 325px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius: 5% 15%;
    border-bottom-right-radius: 5% 15%;
  } 
  
  @media (min-width: 768px) {
    .header.top-header-alt {
      background-attachment: scroll;
    }
  }
    
  header.top-header-alt > h2 {
    text-align: center;
    padding: 3em;
    color: rgba(255, 255, 255, 0.211);
    font-size: 30px;
    text-transform: uppercase;
  }
  
  @media (min-width: 768px) {
    header.top-header-alt > h2 {
      font-size: 40px;
      padding: 6em
    }}
  
