// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.service.icon {
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

.card {
  border-color: rgb(255, 255, 255);
}

.card-horizontal {
  grid-template-columns: 50% 1fr;
  grid-template-rows: 100% 0;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}

@media (min-width: 600px) {
  .card-body {
    margin: 15px;
  }  
  .card-horizontal {
    display: grid;
  }
}

.img-square-wrapper {
  margin: 30px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  grid-row: 1/3;
}

.img-fluid {
  grid-row: 1/3;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  display: block;
  margin: auto;
}