// Styling for the team section
.team-member {
  margin-bottom: 50px;
  text-align: center;
  img {
    width: 350px;
    height: 350px;
    border: 7px solid fade-out($black, 0.9);
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }
  h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-top: 0;
  }
}
